<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="block/header :: head"/>
</head>
<body>
<header th:insert="block/header :: header"/>
<divopen th:insert="block/pagestyle :: pagestyle"/>
<h4>Курс валют:</h4>
<div th:insert="block/form :: form"/>
<table>
    <thead>
    <tr>
        <th>Валюта</th>
        <th>Сегодня</th>
        <th th:text="${dates}">Курс на дату</th:text></th>

        <th>Сравнить с другой датой</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="i : ${details}">
        <tr>
            <td th:text="${i.getKey()}"/>
            <td th:text="${i.getValue()}"/>
            <td th:text="${oldCurrency}"/>
            <form th:action="'/' + ${i.getKey()}" method="get">
                <td><input type="text" name="userDate" placeholder="ГГГГ-ММ-ДД" class="form-control"></td>
                <input type="hidden" name="getKey" th:value="*{i.getKey()}"/>
                <td>
                    <button type="submit" class="btn btn-success">Проверить</button>
                </td>
            </form>
        </tr>
    </div>
    </tbody>
</table>
<br>
<div><img th:src="${gif}"/></div>
<divclose th:insert="block/divclose :: divclose"/>
</body>
</html>